
@media screen {
  .Texto{
  margin-top: -5%;
  margin-left:.5%; 
  margin-right:.5%;
  font-size: 120%
  }

.imagecaja{
  width: 100%;
}

}



@media  (max-width: 1399px) {

  .Texto{
    margin-top: -10%;
    font-size: 105%;
  }
  .navbar-brand{

    width: 3%;
  }




}

@media  (max-width: 1199px) {

  .Texto{
    margin-top: -12%;
    font-size: 95%;
  }


}

@media (min-width: 768px) and (max-width: 991px) {

 
  .Texto{
    margin-top: -18%;
    font-size: 73%;
  }
  
  .navbar-brand{

    width: 4%;
  }




}

@media  (max-width: 768px) {

 

  .navbar-brand{

    width: 6%;
  }


  .titulo {

    font-size: 340%;

  }
  
  .subtitulo {

    font-size: 140%;

  }

  .Texto{

    font-size: 100%;
  }


}


@media  (max-width: 489px) {

 


  .Texto{
    margin-top:-18%;
    font-size: 97%;
  }


}

@media  (max-width: 441px) {

 
  .Texto{
    margin-top: -16%;
    font-size: 80%;
  }
  .navbar-brand{

    width: 7%;
  }

  .titulo {

    font-size: 310%;

  }
  
  .subtitulo {

    font-size: 110%;

  }



}

@media  (max-width: 380px) {

 
  .Texto{

    font-size: 66%;
  }

  .navbar-brand{

    width: 8%;
  }


}

@media  (max-width: 321px) {

 
  .Texto{
    margin-top: -16%;
    font-size: 62%;
  }
}

